<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charset = "UTF-8">
    <title>My::Scrap</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"href="/css/common.css">
    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class = "container wellcome_back" style="padding-top:20px;">
      <div class = "content">
        <div align = "center">
            <img src = "/images/logo.png" alt = "" width = "300px">
          <h2>切り貼りしよう、あなたの人生の物語</h2>
        </div>
          <div class = "hero-unit drop-shadow raised" style="background-color:#faf3e3; margin-top:20px;">
            <div class = "row">
              <div class = "span6">
                <h2>伝えたいことは、変わらない。</h2>
                <p>みんなに読んで欲しい一押しエントリ、<br>読み返したいお気に入り記事、<br>ぼくのかんがえるさいきょう.vimrc ...<br>時の流れに埋もれないよう スクラップしませんか。</p>
              </div>
              <div class = "span4" align="center">
                  <p><font size = "4">はてなIDで今すぐ始めよう</font></p>
                  <a href = "/login"><button class = "btn btn-primary" style = "padding:20px 30px 20px 30px"><font size = "5">はてなIDでログイン</font></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
